
body {
  font-family: "Sour Gummy", sans-serif;

  
}


/*container with logo and nav*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#e4cfb3;
    padding: 0 90px;
    
}


/*container with nav buttons*/
.nav {
    display: flex;
    justify-content:flex-start;
      
    font-size: 20px;
    
}


.nav-links {
    display: flex;
    list-style-type: none;
    gap: 20px; /*space between words*/
    
    
   
}



.header-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    width: 920px;
    
}




/*this is logo image*/
.logo-img {
    width: 105px;
    height: 105px;
    display: block;
   
}



/*to remove underline*/
.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  color: #fc8eac;
  
  
}



/*container with cake pic and welcome text*/
.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(231, 166, 177);
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    width: 900px;

}



/*container with "welcome to my bakery text*/
.introtext {
     
     width: 300px;
     height: 300px;
     padding-right: 60px;
     color: white;
     font-size: 18px;
     
}


button {
    background-color: #e4547f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}




/*chocolate cake image*/
.caketable {
    width: auto;
    height: 275px;
    border: 3px solid #fafafa;
    border-radius: 15px;
}



.container-header, .gallery-section{
background-color: #ec769a;
padding: 0 10px;
      font-size: 20px;

    
}


/*contains all the picture containers*/
.container-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5px;
    padding: 0px;
        
}


/*each individual photo & text container*/
.info {
    text-align: center;
    font-size: 14px;
    width: 150px;
    padding: 5px;
    box-sizing: border-box;
    flex-shrink: 0;
    
}

/*this is to resize cake images*/
.cake {
    border-radius: 15px;
    width: auto;
    height: 150px;
    display:block;
    margin: 0 auto 10px;
    border: 3px solid #ec769a;
    
}

/*contains all the pictures, text, and section header*/
.gallery-section {
    text-align: center;
    background-color:#e4cfb3;
    color: #e06b8e;
     max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    width: 920px;

}

section {
    margin: 0;
    padding: 0;
}


blockquote {
    font-size: 36px; 
    font-weight: 300;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.quotearea {
    text-align: center;
    margin: 90px auto 90px;
     background-color:#fc8eaba1;
    color: white;
     max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    width: 920px;
}



/*all text in last box*/
.cta-text-container {
    display: flex;
    flex-direction: column;   
    margin: 0px 20px;    
}


/*Call to action and sign up selected but individual*/
.ctatext, h3 {
    padding: 0;
    margin: 0px;
   
}


.ctatext {
    margin-top: 10px;
    font-size: 1rem;  

}


.ctawrapper {
    background-color: #e4cfb3;
    padding: 20px;
    margin: 0px auto;
    width: 880px;

}



/*pink cta container*/
.cta {
   background-color: #e4547f;
   color: white;
   border-radius: 8px;


   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 750px;
   max-width: 1200px;
    flex-shrink: 0;
    flex-grow: 0;

    margin: 20px auto;

    padding: 20px;
   
   
}






.lastbutton {
    background-color: #e4547f;
    color: #fbfcf9;
    border: 2px solid white;
    margin: 0px 70px;
}


.lastbutton:hover {
    background-color: #e27baf;
}

.footer {
    background-color: #e27baf;
    color: white;
     max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    width: 920px;
text-align: center;
font-size: 12px;

}